@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --color-angular: #dd000046;
  --color-react: #6182fb45;
  --color-vue: #42b88345;
  --color-node: #8cc84b3e;
  --color-java: #f8972047;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
